<!DOCTYPE html>
<html lang="en" class="wf-loading">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><layout-placeholder name="title">База отдыха "Дебаркадер"</layout-placeholder></title>

    <!-- Favicon -->
    <!-- <lasso-resource path="./assets/favicon.ico" var="favicon"/>
    <link rel="shortcut icon" href="${favicon.url}"> -->

    <!-- SVG -->
    <!-- <lasso-resource path="./assets/icons-monstr.svg" var="svg"/>
    <script>var paralect_svg_url = "${svg.url}";</script> -->

    <!-- lasso's placeholder for scripts and stylesheets -->
    <lasso-head/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta property="og:type"  content="website"/>
    <meta property="og:site_name"  content="База отдыха \"Дебаркадер\""/>
    <!-- WEARE image -->
    <!-- <lasso-resource path="../../pages/home/images/weare4.jpg" var="weare" /> -->
    <!-- <meta property="og:image"  content="${weare.url}" /> -->
    <meta property="og:title"  content="Paralect: We create technology products, for you."/>
    <meta property="og:description" content="We are a software company and a community of passionate, purpose-led individuals. Create your next winning product with us."/>

</head>
<body>
    <layout-placeholder name="body" />
    <lasso-body/>

    <!-- Support for 'browser-refresh' module -->
    <browser-refresh enabled="true" />
</body>
</html>
